.suggestion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.scard {
  /* width: 250px; */
  margin-bottom: 20px;
  /* margin-top: 20px; */
  margin-right: 2em;
}

.close-icon {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
