

// .rightBar {
//   @include themify($themes) {
//     flex: 3;
//     position: sticky;
//     top: 70px;
//     height: calc(100vh - 70px);
//     overflow: scroll;
//     background-color: themed("bgSoft");

//     @include mobile{
//       display: none;
//     }
//     @include tablet{
//       display: none;
//     }

//     &::-webkit-scrollbar {
//       display: none;
//     }


// }




// .rightBar{
//     position:sticky;
    
//     display: flex;
//     align-items: center;
//     justify-content: center;




//     .suggestionBar,
//     .onlineBar {
//       z-index: -1;
//     }



//     .container {
      
//       padding-top: 4em;
//       padding-right: 3em;
      

//      .item{    
      

//         -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
//     box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);


//         padding: 20px;
//         margin-bottom: 20px;
//         background-color: themed("bg");
//         border-radius: 10px;


//         span {
//           color: gray;
//         }

//         .user {
//           display: flex;
//           align-items: center;
//           justify-content: space-between;
//           margin: 20px 0px;

//           .userInfo {
//             display: flex;
//             align-items: center;
//             gap: 20px;
//             position: relative;

//             img {
//               width: 40px;
//               height: 40px;
//               border-radius: 50%;
//               object-fit: cover;
//             }

//             .online {
//               width: 12px;
//               height: 12px;
//               border-radius: 50%;
//               background-color: limegreen;
//               position: absolute;
//               top: 0;
//               left: 30px;
//             }

//             p {
//               color: themed("textColorSoft");
//             }

//             span {
//               font-weight: 500;
//               color: themed("textColor");
//             }
//           }

//           .buttons {
//             display: flex;
//             align-items: center;
//             gap: 10px;

//             button {
//               border: none;
//               padding: 5px;
//               color: white;
//               cursor: pointer;

//               &:first-child {
//                 background-color: #5271ff;
//               }

//               // &:last-child {
//               //   background-color: #f0544f;
//               // }
//             }
//           }
//         }
//       }
//     }
//   }







  // body {
  //   overflow: hidden; /* Hide scrollbars */
  // }

  // .userHome {
  //   display: flex;
  
  //   .homeContainer {
  //     flex: 6;
  


  //     .widgets,
  //     .charts {
  //       display: flex;
  //       padding: 20px;
  //       gap: 20px;
  //     }
  
  //     .charts {
  //       padding: 5px 20px;
  //     }
  
  //     .listContainer {
  //       -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  //       box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  //       padding: 20px;
  //       margin: 20px;
  
  //       .listTitle {
  //         font-weight: 500;
  //         color: gray;
  //         margin-bottom: 15px;
  //       }
  //     }
  //   }
  //   .Rightbar{
  //     overflow-y: hidden;
  //     flex: 2.5;
  //   }


  // }
  @import "../../style.scss";

.homePeople{
  @include themify($themes) {
    padding: 20px 70px;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }

 .homePeople{
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
 }