.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 15px; /* margin gap */
}

.card {
  width: 250px; 
}
.button-container {
  display: flex;
  justify-content: space-between;

}